<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Overview</title>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>
    <section>
      <div
        id="weather-app"
        class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6"
      ></div>
    </section>
    <script src="weather.js"></script>
  </body>
</html>
